[leads]
[localePicker]
== 
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ this.page.metaDescription }}">
	<title>{{ this.page.title }}</title>
	<!-- <link rel="icon" type="image/png" href="../assets/img/favicon.ico"> -->

	<!-- build:css ../assets/css/style.min.css -->
	<link rel="stylesheet" href="{{ 'assets/css/vendors/swiper.min.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/styles.css'|theme }}">
	<!-- endbuild -->

	<meta property="og:title" content="{{ this.page.title }}" />
	<meta property="og:type" content="{{ type }}" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="{{ image }}" />
	<meta property="og:description" content="{{ this.page.description }}" />
</head>

<body>
	{% partial "header" %}

	<main class="{{ this.page.page }}">
		{% page %}
	</main>


	{% partial "menu" %}
	{% partial "modal" %}
	{% partial "footer" %}

	<div class="backdrop__bar d-none"></div>

	{% partial 'scripts' %}
	{% framework extras %}	
	{% scripts %}

</body>

</html>