page = "faqs"
title = "FAQS"
metaDescription = ""
layout = "layout"
url = '/faq'

[faqs]
==
<section class="content-faq">
    <div class="content-faq-header container">
        <div class="content-faq-header-title">
            <h1>{{ 'Perguntas frequentes'|contenttext('FAQ', true) }}</h1>
        </div>
        <div class="content-faq-header-image">
            <img class="img-fluid" src="{{ 'assets/img/faqs/image-faqs.png'|theme }}" alt="image faqs" />
        </div>
    </div>

    <div class="content-faqs-desktop">
        <div class="content-faqs-desktop-itens container">
            <ul class="nav nav-tabs border-0" id="myTabFaqsDesktop" role="tablist">
                {% for topic in topics %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active{% endif %}" id="invoices-tab-desktop" data-toggle="tab"
                        href="#topic-{{ topic.id }}-desktop" role="tab" aria-controls="topic-{{ topic.id }}-desktop"
                        aria-selected="true">
                        {{ topic.topics }}
                        <img class="img-fluid" src="{{ 'assets/img/faqs/arrow-right.png'|theme }}"
                            alt="image arrow right" />
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content content-faqs-tab" id="myTabContentFaqsDesktop">
                {% for topic in topics %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="topic-{{ topic.id }}-desktop"
                    role="tabpanel" aria-labelledby="invoices-tab">
                    <p class="content-faqs-tab-text">{{ topic.topics }}</p>
                    <div id="accordion-faqs-desktop">
                        {% for faq in faqs %}
                            {% if faq.topico.id == topic.id %}
                            <div class="card">
                                <div class="card-header" id="headingOneFaqs-desktop">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"
                                            data-target="#collapse{{ faq.id }}Faqs-desktop" aria-expanded="false"
                                            aria-controls="collapse{{ faq.id }}Faqs-desktop">
                                            <p>{{ faq.question }}</p>
                                            <div class="btn-link-icon">
                                                <img src="{{ 'assets/img/faqs/arrow-down-white.png'|theme }}"
                                                    alt="icon arrow down white">
                                            </div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse{{ faq.id }}Faqs-desktop" class="collapse"
                                    aria-labelledby="heading{{ faq.id }}Faqs-desktop" data-parent="#accordion-faqs-desktop">
                                    <div class="card-body">
                                        <p>{{ faq.answer }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>