page = "home"
title = "Home"
metaDescription = ""
layout = "layout"
url = '/'
==
<section class="content-home-information">
	<div class="content-home-information-itens container">
		<div class="content-home-information-itens-div">
			<div class="content-home-information-itens-text">
				<h1>{{ 'Facil, seguro e rápido.'|contenttext('HOME', true) }}</h1>
				{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>'|contenttext('HOME', false) }}
			</div>
			<div class="content-home-information-itens-image">
				<img class="img-fluid" src="{{ 'assets/img/home/image-2.png'|theme }}" alt="Image Google Play e App Store" title="Image Google Play e App Store" />
			</div>
			<div class="content-home-information-itens-text-other">
				{{ '<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>'|contenttext('HOME', true) }}
			</div>
		</div>
		<div class="content-home-information-itens-div-image">
			<img class="img-fluid" src="{{ 'img/home/image-1.png'|contentimage('HOME', 'Biip Image') }}" alt="Image biip" />
		</div>
	</div>
</section>

<section class="content-home-description">
	<div class="content-home-description-itens container">
		<div class="content-home-description-itens-image">
			<img class="img-fluid" src="{{ 'img/home/image-3.png'|contentimage('HOME', 'IMAGE 1') }}" alt="image 3" />
		</div>
		<div class="content-home-description-itens-texts row">
			<div class="content-home-description-itens-texts-item col-lg-4">
				<h2>{{ 'titulo'|contenttext('HOME', true) }}</h2>
				{{ '<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore magna aliqua.</p>'|contenttext('HOME', false) }}
			</div>
			<div class="content-home-description-itens-texts-item col-lg-4">
				<h2>{{ 'titulo-1'|contenttext('HOME', true) }}</h2>
				{{ '<p> Lorem ipdssdssum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore magna aliqua.</p>'|contenttext('HOME', false) }}
			</div>
			<div class="content-home-description-itens-texts-item col-lg-4">
				<h2>{{ 'titulo-2'|contenttext('HOME', true) }}</h2>
				{{ '<p> Lorem ipdsdssudsdsdsdsm dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore magna aliqua.</p>'|contenttext('HOME', false) }}
			</div>
		</div>
	</div>
</section>

<section class="content-home-text">
	<div class="content-home-text-itens container">
		<div class="content-home-text-itens-element">
			<h2>{{ 'Text 404'|contenttext('HOME', true) }}</h2>
			{{ '<p>Este texto de momento está indisponivel</p>'|contenttext('HOME', false) }}
		</div>
	</div>
</section>

<section class="content-home-details">
	<div class="content-home-details-itens container">
		<div class="content-home-details-itens-elements">
			<div class="content-home-details-itens-elements-text">
				<h2>{{ 'Facil, seguro e rápido'|contenttext('HOME', true) }}</h2>
				{{'<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet.
					Mauris vitae
					ultricies leo integer malesuada. Ac odio</p>'|contenttext('HOME', false) }}
			</div>
			<div class="content-home-details-itens-elements-image">
				<img class="img-fluid" src="{{ 'img/home/telphone-1.png'|contentimage('HOME', 'PHONE') }}" alt="image details app 1" />
			</div>
		</div>
		<div class="content-home-details-itens-elements">
			<div class="content-home-details-itens-elements-text">
				<h2>{{ '1,2,3 e está pago...'|contenttext('HOME', true)  }}</h2>
				{{'<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore magna aliqua. Bibendum est ultricies integer quis. Iaculis urna id volutpat lacus laoreet.
					Mauris vitae
					ultricies leo integer malesuada. Ac odio</p>'|contenttext('HOME', false) }}
			</div>
			<div class="content-home-details-itens-elements-image">
				<img class="img-fluid" src="{{ 'img/home/telphone-2.png'|contentimage('HOME', 'PHONE 2') }}" alt="image details app 2" />
			</div>
		</div>
		<div class="content-home-details-itens-elements">
			<div class="content-home-details-itens-elements-text">
				<h2>{{ 'Tudo é mais fácil com biip®'|contenttext('HOME', true) }}</h2>
				<div class="content-home-information-itens-image">
					<img class="img-fluid" src="{{ 'img/home/image-2.png'|contentimage('HOME', 'APP IMAGES') }}" alt="Image Google Play e App Store"
						title="Image Google Play e App Store" />
				</div>
				<div class="content-home-details-itens-elements-text-other">
					{{ '<p> Lorem ipsum dolor sit amet,</p>'|contenttext('HOME', false) }}
				</div>
			</div>
			<div class="content-home-details-itens-elements-image">
				<img class="img-fluid" src="{{ 'img/home/telphone-3.png'|contentimage('HOME', 'PHONE 3') }}" alt="image details app 3" />
			</div>
		</div>
	</div>
</section>

<section class="content-home-company">
	<div class="content-home-company-itens container">
		<div class="content-home-company-itens-text">
			<h2>{{ 'A sua empresa pode ter biip'|contenttext('HOME', true) }}</h2>
			{{ '<p>Este texto de momento está indisponivel</p>'|contenttext('HOME', false) }}
			<a>
				{{ 'Saber mais'|contenttext('INPUTS', true) }}
			</a>
		</div>
	</div>
</section>