<footer class="content-footer">
	<div class="content-footer-itens">
		<div class="content-footer-itens-div">
			<div class="content-footer-itens-links container">
				<a class="content-footer-itens-links-logo" href="{{ 'home'|page }}">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-biip-footer.png'|theme }}" alt="Logo Biip Footer" title="Logo Biip Footer"/>
				</a>
				<div class="content-footer-itens-links-text">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tortor dapibus, scelerisque nisl nec, dictum
						enim. Phasellus nec metus non dui egestas mattis.</p>'|contenttext('FOOTER', false) }}
				</div>
				<div class="content-footer-itens-links-menu">
					<div class="content-footer-itens-links-menu-item">
						<a href="{{ 'sobre'|page }}">
							{{ 'Sobre'|contenttext('LINKS', true ) }}
						</a>
						<a href="{{ 'faq'|page }}">
							{{ 'FAQ'|contenttext('LINKS', true ) }}
						</a>
					</div>
					<div class="content-footer-itens-links-menu-item">
						<a href="#modal-contact" data-toggle="modal">
							{{ 'Contatos'|contenttext('LINKS', true) }}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content-footer-itens-div">
			<div class="content-footer-itens-company container">
				<div class="content-footer-itens-text">
					<p> {{ 'O nosso grupo'|contenttext('FOOTER', true) }}</p>
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-wethecore.png'|theme }}" alt="Logo Wethecore" title="Logo Wethecore"/>
				</div>
				<div class="content-footer-itens-text">
					<p> {{ 'Empresas do grupo'|contenttext('FOOTER', true) }}</p>
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-zone-soft.png'|theme }}" alt="Logo Zone Soft" title="Logo Zone Soft"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-must.png'|theme }}" alt="Logo Must Pt" title="Logo Must Pt"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-levoo.png'|theme }}" alt="Logo Levoo" title="Logo Levoo"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-comproo.png'|theme }}" alt="Logo Comproo" title="Logo Comproo"/>
				</div>
				<div class="content-footer-itens-logos">
					<img class="img-fluid" src="{{ 'assets/img/logos/logo-freebee.png'|theme }}" alt="Logo FreeBee" title="Logo FreeBee"/>
				</div>
			</div>
		</div>
		<div class="content-footer-itens-div">
			<div class="content-footer-itens-copyright container">
				<a class="content-footer-itens-copyright-text" href="{{ 'home'|page }}">
					@ Biip, 2020
				</a>
				<div class="content-footer-itens-copyright-links">
					<a href="#modal-termos" data-toggle="modal">
						{{ 'Termos & Condições'|contenttext('FOOTER', true ) }}
					</a>
					<a href="#modal-polity" data-toggle="modal">
						{{ 'Política Privacidade'|contenttext('FOOTER', true) }}
					</a>
					<a href="#modal-rgpd" data-toggle="modal">
						{{ 'RGPD'|contenttext('FOOTER', true) }}
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>