<header class="content-header">
  <div class="content-header-itens container">
    <a class="content-header-itens-logo" href="{{ 'home'|page }}">
      <img class="img-fluid" src="{{ 'assets/img/logos/logo-biip.png'|theme }}" alt="Logo Biip" title="Logo Biip" />
    </a>
    <div class="content-header-itens-links d-none d-md-flex">
      <a href="{{ 'sobre'|page }}">
				{{ 'Sobre'|contenttext('LINKS', true ) }}
			</a>
			<a href="{{ 'faq'|page }}">
				{{ 'FAQ'|contenttext('LINKS', true ) }}
			</a>
			<a href="#modal-contact" data-toggle="modal">
				{{ 'Contatos'|contenttext('LINKS', true) }}
			</a>
      <div class="content-header-itens-links-submenu">
        <a>
          {{ localePicker.activeLocale|upper }}
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9">
            <path d="M5,0l5,9H0Z" transform="translate(10 9) rotate(180)" /></svg>
        </a>
        <div class="content-header-itens-links-submenu-item">
          {% for code, locale in localePicker.locales %}
            {% if code is not same as  (localePicker.activeLocale) %}
              <a id="lang-{{ code }}" href="javascript:;"
                data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'">
                {{ locale }} ({{ code|upper }})
              </a>
            {% endif %}
          {% endfor %}   
        </div>
      </div>
    </div>
    <div class="content-menu d-md-none">
      <a class="content-menu-item btn-menu">
        <span></span>
        <p>Menu</p>
      </a>
    </div>
  </div>
</header>