<div class="modal modal-newsletter fade in" tabindex="-1" role="dialog" id="modal-polity">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal__title modal__title--big" id="iframe-modal-newsletter-modal-Label">
					{{ 'Politica e Privacidade'|contenttext('POLICY', true) }}
				</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal__body">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
						magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
						exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
						remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
						labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
						laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
						em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
						nulla pariatur? "</p>'|contenttext('POLICY', false) }}
				</div>
				<div class="modal-body-btns">
					<!-- <button class="modal-body-btns-confirm" data-dismiss="modal">
						Aceitar <span class="d-none d-md-flex ml-2">Politica</span>
					</button> -->
					<button type="submit" class="content-company-form-element-btn" data-dismiss="modal">
						{{ 'Sair'|contenttext('INPUTS', true) }}
					</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal modal-newsletter fade in" tabindex="-1" role="dialog" id="modal-termos">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal__title modal__title--big" id="iframe-modal-newsletter-modal-Label">
					{{ 'Termos e Condições'|contenttext('TERMS', true) }}
				</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal__body">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
						magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
						exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
						remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
						labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
						laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
						em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
						nulla pariatur? "</p>'|contenttext('TERMS', false) }}
				</div>
				<div class="modal-body-btns">
					<!-- <button class="modal-body-btns-confirm" data-dismiss="modal">
						Aceitar <span class="d-none d-md-flex ml-2">Termos</span>
					</button> -->
					<button type="submit" class="content-company-form-element-btn" data-dismiss="modal">Sair</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal modal-newsletter fade in" tabindex="-1" role="dialog" id="modal-rgpd">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal__title modal__title--big" id="iframe-modal-newsletter-modal-Label">
					{{ 'RGPD'|contenttext('RGPD'. true) }}
				</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="modal__body">
					{{ '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed the eiusmod tempor incidid ut labore et dolore
						magna aliqua. Ou seja, por um preço mínimo, por isso, é necessário exercitar-se por qualquer outro meio, por
						exemplo. velit esse cillum dolore eu fugi nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p>"Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, tot rem
						remiam, eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						consequentes magnos dolares eos quao racionamentos sequencias nescos.queque porro quisquam est, qui dolorem
						ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt u
						labore et dolore magnam aliquam quaerat voluptatem. , quis nostrum exercitationem ullam corporis suscipit
						laboriosam, você está usando um líquido alíquido e consequentemente? Este é um item que deve ser repreendido
						em um voluptate velit esse quam nihil molestiae consequatur,vel ilum qui dolorem eum fugiat quo voluptas
						nulla pariatur? "</p>'|contenttext('RGPD', false) }}
				</div>
				<div class="modal-body-btns">
					<button type="submit" class="content-company-form-element-btn" data-dismiss="modal">
						{{ 'Sair'|contenttext('INPUTS', true) }}
					</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal modal-contact fade in" tabindex="-1" role="dialog" id="modal-contact">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">{{ 'Para mais informações'|contenttext('CONTACTS', true) }}</h2>
			</div>
			<div class="modal-body">
				<div class="modal-body-itens">
					<form class="modal-body-itens-form"
						method="post"
						data-request="onSave"
						data-request-validate
						data-request-flash 
						data-request-redirect="/">
						<div class="row">
							<div class="col-lg-12">
								<input type="text" value="" name="name" placeholder="Nome" required/>
								<div data-validate-for="name" class="alert alert-danger"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" value="" name="company" placeholder="Empresa" required/>
								<div data-validate-for="company" class="alert alert-danger"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8">
								<input type="email" value="" name="email" placeholder="E-mail" required/>
								<div data-validate-for="email" class="alert alert-danger"></div>
							</div>
							<div class="col-lg-4">
								<input type="text" value="" name="phone" placeholder="Telefone" required/>
								<div data-validate-for="phone" class="alert alert-danger"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div data-validate-for="message" class="alert alert-danger"></div>
								<textarea name="message" placeholder="Comentário"></textarea>
							</div>
						</div>
						<div class="modal-body-itens-form-btns">
							<button>{{ 'Saber mais'|contenttext('INPUTS', true) }}</button>
							<button data-dismiss="modal" >cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>